<h1><strong>Name:</strong>	<%= @room.name %></h1>

<div data-behavior="messages" data-room-id="<%= @room.id %>">
	<% @messages.each do |message| %>
		<%= render message %>
	<% end %>
</div>

<%= form_for([@room, Message.new]) do |f| %>
	<%= f.text_area :content, rows: 1, class: "form-control", autofocus: true %>
<% end %>

